__pycache__/
*.pyc

backend/data/domain_documents/*/processed/*.json
backend/data/domain_documents/*/raw/*domain_test*.txt
backend/.env
backend/data/raw/
backend/data/processed/
backend/data/domain_documents/*/raw/
frontend/node_modules/
frontend/dist/
